.navigation{
	display: flex;
	justify-content: center;
	align-items: center;    
	padding-top: 1%;
}

.nav-link{
    display: inline-block;
	padding: 50px;
	padding-top: 0;
	padding-bottom:0;
	font-size: 20pt;
    position: center;
    color:black;
	-webkit-transition:1s;
}

.nav-link:hover{
	font-size: 30pt;
	color: black;
}